[Oo]bj/
PublishedFileId.txt
.idea/
*.DotSettings
Textures/Things/Pawn/Gargoyles/Heads.zip
RimworldModReleaseTool.exe

Deployer\.exe
Source/Dependencies/CompAnimated.dll
Source/Dependencies/0Harmony.dll
Source/Dependencies/0JecsTools.dll
Source/Dependencies/AbilityUser.dll
Source/Dependencies/BadHygiene.dll
updateinfo
